.container {
  .videoBox {
    height: 90vh;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background: #415991;
    .box {
      flex: 1;
      display: flex;
      justify-content: space-around;
    }
  }
}