.container {
  height: 100vh;

  .header {
    border-bottom: 1px solid #e9e9e9;
    height: 80px;
  }

  .leftAside {
    border-left: 1px solid #e9e9e9;
    height: calc(100vh - 101px);
  }

  .content {
    .main {
      background: #f1f1f1;
      overflow-y: auto;
      overflow-x: auto;
      height: calc(100vh - 162px);
      text-align: center;
      padding-bottom: 0;
    }
    .footer {
      border-top: 1px solid #e9e9e9;
      background-color: #fff;
    }
  }
  
  .rightAside {
    border-left: 1px solid #e9e9e9;
    height: calc(100vh - 101px);
  }
}