.container {
  position: relative;

  .http404-container {
    position: relative;
    top: 50%;

    .pic {
      width: 600px;
      display: block;
      margin: 0 auto;
    }

    .title {
      width: 100%;
      text-align: center;
      font-size: 24px;
      color: #111;
      line-height: 38px;
      margin-top: 77px;
    }

    .desc {
      width: 100%;
      font-size: 18px;
      color: #777;
      text-align: center;
      line-height: 38px;
      margin-top: 8px;
    }

    .btn {
      width: 125px;
      height: 44px;
      text-align: center;
      font-size: 14px;
      color: #fefefe;
      line-height: 44px;
      background: #09bf89;
      border-radius: 6px;
      margin: 50px auto 0;
      cursor: pointer;
    }
  }
}