.container {
  font-size: 14px;
  padding-left: 16px;
  padding-top: 32px;
  .title {
    font-weight: bold;
    margin-bottom: 16px;
    // margin-left: 16px;
  }
  .propertyItem {
    line-height: 24px;
    margin-bottom: 12px;
    font-size: 12px;
    .propertyName {
      margin-bottom: 6px;
    }
    .propertyValue {
      .numInput {
        :global(.el-input__inner) {
          padding: 0 5px;
        }
      }
    }
  }
}