.canvasContent {
  background-color: #fff;
  min-width: 800.33px;
  width: 800.33px;
  height: 1132.66px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;

  &.a3PageLand {
    min-width: 1600.66px;
    width: 1600.66px;
    height: 1132.66px;
  }

  &.a4PageLand {
    min-width: 1132.66px;
    width: 1132.66px;
    height: 800.33px;
  }

  &.a3PagePort {
    min-width: 1132.66px;
    width: 1132.66px;
    height: 1600.66px;
  }

  &.a4PagePort {
    min-width: 800.33px;
    width: 800.33px;
    height: 1132.66px;
  }

  .backUrl {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .dragItem {
    width: 150px;
    height: 30px;
    border: 1px dashed #2e73f5;
    position: absolute;
    cursor: move;
    z-index: 10;
    background: translate;
    // opacity: 0.7;
    text-align: left;
    font-size: 16px;

    &.victuryItem {
      z-index: 9;
    }

    &:active {
      cursor: grabbing;
    }

    &.active {
      border: 1px solid #2e73f5;
    }



    .singleLine {
      height: 100%;
      line-height: 100%;
      // display: flex;
      // align-items: flex-end;
      display: inline;
      vertical-align: bottom;
      overflow: hidden;
      white-space: nowrap;
      font-weight: inherit;
    }

    .moreLine {
      line-height: 1.2;
      height: 100%;
      overflow: hidden;
      font-weight: inherit;
    }

    .checkBox {
      border: 1px solid #66676b;
      margin-top: 4px;
      margin-left: 4px;
      width: 14px;
      height: 14px;
    }

    .placeImg {
      &.fixHeight {
        height: 100%;
      }

      &.fixWidth {
        width: 100%;
      }
    }

    .deleteLine {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .deleteContent {
        width: 100%;
        height: 50%;
        background-image: url('https://fr-static.jiazhengye.cn/XX.61b887b7eeac8ce9.png');
        background-size: auto 100%;
      }
    }

    .point {
      width: 6px;
      height: 6px;
      background-color: #2e73f5;

      &.leftTopPoint {
        position: absolute;
        left: -2px;
        top: -2px;
        cursor: nw-resize;
      }

      &.leftBottomPoint {
        position: absolute;
        left: -2px;
        bottom: -2px;
        cursor: sw-resize;
      }

      &.rightBottomPoint {
        position: absolute;
        right: -2px;
        bottom: -2px;
        cursor: se-resize;
      }

      &.leftPoint {
        position: absolute;
        left: -2px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: w-resize;
      }

      &.rightPoint {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: e-resize;
      }

      &.topPoint {
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        margin: auto;
        cursor: n-resize;
      }

      &.bottomPoint {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        cursor: s-resize;
      }
    }

    .rightTopBtn {
      position: absolute;
      right: -6px;
      top: -6px;
      color: red;
      cursor: pointer;
    }


  }
}